/*������������ʽ*/
.wrap {
    width: 400px;
    height: 400px;
    margin-left: 800px;
    margin-top: 400px;
    position: relative;
}

/*��������������ʽ*/
.cube {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-80deg);
    animation: rotate linear 20s infinite;
}

@-webkit-keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube .out {
    position: absolute;
    width: 400px;
    height: 400px;
    opacity: 0.8;
    transition: all .4s;
}

/*��������ͼƬ��ʽ*/
.pic {
    width: 400px;
    height: 400px;
}

.cube .out_front {
    transform: rotateY(0deg) translateZ(200px);
}

.cube .out_back {
    transform: translateZ(-200px) rotateY(180deg);
}

.cube .out_left {
    transform: rotateY(-90deg) translateZ(200px);
}

.cube .out_right {
    transform: rotateY(90deg) translateZ(200px);
}

.cube .out_top {
    transform: rotateX(90deg) translateZ(200px);
}

.cube .out_bottom {
    transform: rotateX(-90deg) translateZ(200px);
}

/*����С��������ʽ*/
.cube span {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.cube .in_pic {
    width: 200px;
    height: 200px;
}

.cube .in_front {
    transform: rotateY(0deg) translateZ(100px);
}

.cube .in_back {
    transform: translateZ(-100px) rotateY(180deg);
}

.cube .in_left {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube .in_right {
    transform: rotateY(90deg) translateZ(100px);
}

.cube .in_top {
    transform: rotateX(90deg) translateZ(100px);
}

.cube .in_bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

/*������������ʽ*/
.cube:hover .out_front {
    transform: rotateY(0deg) translateZ(400px);
}

.cube:hover .out_back {
    transform: translateZ(-400px) rotateY(180deg);
}

.cube:hover .out_left {
    transform: rotateY(-90deg) translateZ(400px);
}

.cube:hover .out_right {
    transform: rotateY(90deg) translateZ(400px);
}

.cube:hover .out_top {
    transform: rotateX(90deg) translateZ(400px);
}

.cube:hover .out_bottom {
    transform: rotateX(-90deg) translateZ(400px);
}

.active .in_front {
    transform: rotateY(0deg) translateZ(200px);
}

.active .in_back {
    transform: translateZ(-200px) rotateY(180deg);
}

.active .in_left {
    transform: rotateY(-90deg) translateZ(200px);
}

.active .in_right {
    transform: rotateY(90deg) translateZ(200px);
}

.active .in_top {
    transform: rotateX(90deg) translateZ(200px);
}

.active .in_bottom {
    transform: rotateX(-90deg) translateZ(200px);
}

.core_cube{
  transform: rotateX(-90deg) translateZ(150px) translateX(150px);
}
.core_cube img{
  width: 100px;
  height:100px;
}
